{{ template "header"}}
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面</span>
            </div>
            <div class="search">
                <span>商品名称：</span>
                <input type="text" class="goodsName" placeholder="请输入商品的名称"/>
                <span>供应商：</span>
                <select name="tigong" class="tigong">
                    <option value="null">--请选择--</option>
                    <option value="0">无供应商</option>
                    {{ range $key,$val := .provider }}
                        <option value="{{ $val.Id }}">{{ $val.ProviderName }}</option>
                    {{ end }}
                </select>
                <span>是否付款：</span>
                <select name="fukuan" class="fukuan">
                    <option value="">--请选择--</option>
                    <option value="true">已付款</option>
                    <option value="false">未付款</option>
                </select>
                <input type="button" class="searchBtn" value="查询"/>
                <a href="/billAdd">添加订单</a>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">账单编码</th>
                    <th width="20%">商品名称</th>
                    <th width="15%">供应商</th>
                    <th width="15%">账单金额</th>
                    <th width="10%">是否付款</th>
                    <th width="10%">创建时间</th>
                    <th width="20%">操作</th>
                </tr>
                {{ range $key,$val := .bill }}
                    <tr>
                        <td>{{ $val.GoodsNumber }}</td>
                        <td>{{ $val.GoodsName }}</td>
                        <td>{{ $val.ProviderName }}</td>
                        <td>{{ $val.Amount }}</td>
                        {{ if $val.IsPay }}
                            <td>已付款</td>
                        {{ else }}
                            <td>未付款</td>
                        {{ end }}
                        <td>{{ $val.CreateTime }}</td>
                        <td>
                            <a href="/billView?id={{ $val.Id }}"><img src="/static/img/read.png" alt="查看" title="查看"/></a>
                            <a href="/billUpdate?id={{ $val.Id }}"><img src="/static/img/xiugai.png" alt="修改" title="修改"/></a>
                            <a href="#" class="removeBill" did="{{ $val.Id }}"><img src="/static/img/schu.png" alt="删除" title="删除"/></a>
                        </td>
                    </tr>
                {{ else }}
                    <tr>
                        <td>没有数据！</td>
                    </tr>
                {{ end }}
            </table>
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeBi">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该订单吗？</p>
            <a href="#" id="yes" did="">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>
    <footer class="footer">
    </footer>
<script src="/static/js/js.js"></script>
<script src="/static/js/time.js"></script>
<script>
    $(function () {
       $(".searchBtn").click(function () {
           goodsName = $(".goodsName").val();
           tigong = $(".tigong").val();
           fukuan = $(".fukuan").val();
           location.href = "/billList?goodsName=" + goodsName + "&tigong=" + tigong + "&fukuan=" + fukuan
       });
       $("#yes").click(function () {
          did = $(this).attr("did");
          $.ajax({
              url:"/billDel",
              method: "GET",
              data: {
                  id:did
              },
              dataType:"json",
              success: function (res) {
                 if(res) {
                    alert("删除成功！");
                    location.reload();
                 } else {
                     alert("删除失败！");
                 }
              }
          });
       });
    });
</script>
</body>
</html>