{{ template "header" }}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 订单添加页面</span>
        </div>
        {{ if .oneMap }}
        <div class="providerAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerId">订单编码：</label>
                    <input type="text" name="providerId" id="providerId" value="{{ .oneMap.GoodsNumber }}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="providerName">商品名称：</label>
                    <input type="text" name="providerName" id="providerName" value="{{ .oneMap.GoodsName }}"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="people">商品单位：</label>
                    <input type="text" name="people" id="people" value="{{ .oneMap.GoodsUnit }}"/>
                    <span>*</span>

                </div>
                <div>
                    <label for="phone">商品数量：</label>
                    <input type="text" name="phone" id="phone" value="{{ .oneMap.GoodsCount }}"/>
                    <span>*</span>
                </div>
                <div>
                    <label for="address">总金额：</label>
                    <input type="number" name="Amount" id="Amount" value='{{ .oneMap.Amount }}'/>
                    <span>*</span>
                </div>
                <div>
                    <label for="fax">供应商：</label>
                    <select name="supplier" class="supplier" selectId="{{ .oneMap.ProviderId }}">
                        <option value="0">--请选择相应的提供商--</option>
                        {{ range $key,$val := .provider }}
                            <option value="{{ $val.Id }}">{{ $val.ProviderName }}</option>
                        {{ end }}
                    </select>
                    <span>*</span>
                </div>
                <div>
                    <label >是否付款：</label>
                    {{ if .oneMap.IsPay }}
                        <input type="radio" class="zhifu" value="true" name="zhifu" checked/>已付款
                        <input type="radio" class="zhifu" value="false" name="zhifu"/>未付款
                    {{ else }}
                        <input type="radio" class="zhifu" value="true" name="zhifu"/>已付款
                        <input type="radio" class="zhifu" value="false" name="zhifu"checked/>未付款
                    {{ end }}
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="billList.html">返回</a>-->
                    <input type="button" value="保存" uid="{{ .oneMap.Id }}" class="saveBtn" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
        {{ else }}
            <div class="providerAdd">没有该条数据!</div>
        {{end}}
    </div>
</section>
<footer class="footer">
</footer>
<script src="/static/js/time.js"></script>
<script>
    $(function () {
        selectId = $(".supplier").attr("selectId");
        $(".supplier").children("option").each(function () {
            if ($(this).val() == selectId) {
               $(this).prop("selected", true);
            }
        });
        $(".saveBtn").click(function () {
            providerId = $("#providerId").val();
            providerName = $("#providerName").val();
            people = $("#people").val();
            phone = $("#phone").val();
            Amount = $("#Amount").val();
            supplier = $(".supplier").val();
            id = $(this).attr("uid");
            var zhifu = false
            $(".zhifu").each(function () {
                if($(this).prop("checked")) {
                    zhifu = $(this).val();
                }
            });
            $.ajax({
                type:"GET",
                url:"/billUpdateData",
                data:{
                    id:id,
                    providerId:providerId,
                    providerName:providerName,
                    people:people,
                    phone:phone,
                    Amount:Amount,
                    supplier:supplier,
                    zhifu:zhifu
                },
                dataType:"json",
                success: function (res) {
                    if(res) {
                       alert("修改成功！");
                       location.reload();
                        //location.href = "/billList"
                    } else {
                       alert("修改失败！");
                    }
                }
            });
        });
    });
</script>
</body>
</html>