{{ template "header" .}}
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>密码修改页面</span>
            </div>
            <div class="providerAdd">
                <form action="#">
                    <!--div的class 为error是验证错误，ok是验证成功-->
                    <div class="">
                        <label for="oldPassword">旧密码：</label>
                        <input type="password" name="oldPassword" id="oldPassword" required/>
                        <span>*请输入原密码</span>
                    </div>
                    <div>
                        <label for="newPassword">新密码：</label>
                        <input type="password" name="newPassword" id="newPassword" required/>
                        <span >*请输入新密码</span>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password" name="reNewPassword" id="reNewPassword" required/>
                        <span >*请输入新确认密码，保证和新密码一致</span>
                    </div>
                    <div class="providerAddBtn">
                        <!--<a href="#">保存</a>-->
                        <input type="button" value="保存" class="saveBtn" />
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
<script src="/static/js/time.js"></script>
<script>
    $(function () {
        $(".saveBtn").click(function () {
            oldPassword = $("#oldPassword").val();
            if(oldPassword.length == 0) {
                alert("旧密码不能为空！");
                return
            }

            newPassword = $("#newPassword").val();
            if(newPassword.length == 0){
                alert("新密码不能为空！");
                return
            }
            reNewPassword = $("#reNewPassword").val();
            if(reNewPassword.length == 0){
                alert("重复密码不能为空！");
                return
            }
            if(newPassword != reNewPassword){
                alert("两次密码不一样！");
                return
            }
            $.ajax({
                type: "GET",
                url: "/updatePassword",
                data: {
                    oldPassword: oldPassword,
                    newPassword: newPassword
                },
                dataType: "json",
                success: function (res) {
                   if(res) {
                       alert("修改成功！");
                       location.href = "/logout"
                   } else {
                       alert("修改失败！可能旧密码错误");
                   }
                }
            });
        });
    });
</script>
</body>
</html>