{{ template "header"}}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面 >> 信息查看</span>
        </div>
        {{ range $key,$val:= .provider }}
            <div class="providerView">
                <p><strong>供应商编码：</strong><span>{{ $val.ProviderNumber }}</span></p>
                <p><strong>供应商名称：</strong><span>{{ $val.ProviderName }}</span></p>
                <p><strong>联系人：</strong><span>{{ $val.People }}</span></p>
                <p><strong>联系电话：</strong><span>{{ $val.PhoneNumber }}</span></p>
                <p><strong>传真：</strong><span>{{ $val.Fax }}</span></p>
                <p><strong>描述：</strong><span>{{ $val.Describe }}</span></p>
                <a href="/providerList">返回</a>
            </div>
        {{ else }}
            <div class="providerView">
               <p><strong>没有数据！</strong></p>
            </div>
        {{end}}
    </div>
</section>
<footer class="footer">
</footer>
<script src="/static/js/time.js"></script>

</body>
</html>