{{ template "header" .}}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面 >> 供应商添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerId">供应商编码：</label>
                    <input type="text" name="providerId" id="providerId"/>
                    <span>*请输入供应商编码</span>
                </div>
                <div>
                    <label for="providerName">供应商名称：</label>
                    <input type="text" name="providerName" id="providerName"/>
                    <span >*请输入供应商名称</span>
                </div>
                <div>
                    <label for="people">联系人：</label>
                    <input type="text" name="people" id="people"/>
                    <span>*请输入联系人</span>

                </div>
                <div>
                    <label for="phone">联系电话：</label>
                    <input type="text" name="phone" id="phone"/>
                    <span>*请输入联系电话</span>
                </div>
                <div>
                    <label for="address">联系地址：</label>
                    <input type="text" name="address" id="address"/>
                    <span></span>
                </div>
                <div>
                    <label for="fax">传真：</label>
                    <input type="text" name="fax" id="fax"/>
                    <span></span>
                </div>
                <div>
                    <label for="describe">描述：</label>
                    <input type="text" name="describe" id="describe"/>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="保存" class="saveBtn" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<script src="/static/js/time.js"></script>
<script>
    $(function () {
       $(".saveBtn").click(function () {
           providerId = $("#providerId").val();
           providerName = $("#providerName").val();
           people = $("#people").val();
           phone = $("#phone").val();
           address = $("#address").val();
           fax = $("#fax").val();
           describe = $("#describe").val();
           $.ajax({
               type:"GET",
               url:"/providerAddData",
               data:{
                   providerId:providerId,
                   providerName:providerName,
                   people:people,
                   phone:phone,
                   address:address,
                   fax:fax,
                   describe:describe
               },
               dataType:"json",
               success: function (res) {
                  if(res) {
                      alert("添加成功！");
                      location.href = "/providerList"
                  } else {
                      alert("添加失败！");
                  }
               }
           });
       });
    });
</script>
</body>
</html>