{{ template "header" .}}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div>
                    <label for="userName">用户名称：</label>
                    <input type="text" name="userName" id="userName"/>
                    <span >*请输入用户名称</span>
                </div>
                <div>
                    <label for="userpassword">用户密码：</label>
                    <input type="text" name="userpassword" id="userpassword"/>
                    <span>*密码长度必须大于6位小于20位</span>

                </div>
                <div>
                    <label for="userRemi">确认密码：</label>
                    <input type="text" name="userRemi" id="userRemi"/>
                    <span>*请输入确认密码</span>
                </div>
                <div>
                    <label >用户性别：</label>
                    <select name="gender" class="gender">
                        <option value="man">男</option>
                        <option value="woman">女</option>
                    </select>
                    <span></span>
                </div>
                <div>
                    <label for="data">出生日期：</label>
                    <input type="text" name="data" id="data"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userphone">用户电话：</label>
                    <input type="text" name="userphone" id="userphone"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="userAddress">用户地址：</label>
                    <input type="text" name="userAddress" id="userAddress"/>
                </div>
                <div>
                    <label >用户类别：</label>
                    <input type="radio" name="userlei" class="userlei" checked=checked value="1"/>管理员
                    <input type="radio" name="userlei" class="userlei" value="2"/>经理
                    <input type="radio" name="userlei" class="userlei" value="3"/>普通用户
                </div>
                <div class="providerAddBtn">
                    <input class="AddBtn" type="button" value="保存"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<!-- <script src="/static/js/time.js"></script> -->
<script src="/static/laydate/laydate.js"></script>
<script>
    laydate.render({
        elem: '#data'
    });
    $(function() {
        $(".AddBtn").click(function() {
            userName = $("#userName").val();
            password = $("#userpassword").val();
            userRemi = $("#userRemi").val();
            if (password != userRemi){
                alert("两次输入密码不一样！");
                return false
            }
            gender = $(".gender").val();
            birthday = $("#data").val();
            phone = $("#userphone").val();
            address = $("#userAddress").val();
            userlei = '';
            $('.userlei').each(function() {
               if($(this).prop("checked")) {
                   userlei = $(this).val();
               }
            });
            $.ajax({
                type:"GET",
                url:"/userAddData",
                data:{
                    userName:userName,
                    password:password,
                    gender:gender,
                    birthday:birthday,
                    phone:phone,
                    address:address,
                    userlei:userlei
                },
                dataType:"json",                
                success: function(res) {
                    if(res) {
                        location.href = "/userList"
                    } else {
                        alert("添加失败！");
                    }
                }
            });
        });
    });
</script>
</body>
</html>